/* CSS HEX 
--polynesian-blue: #054a91ff;
--steel-blue: #3e7cb1ff;
--vista-blue: #81a4cdff;
--alice-blue: #dbe4eeff;
--safety-orange: #f17300ff  */
* {
  box-sizing: border-box;
}
body {
    font-family: Monospace, Sans-Serif;
    font-size: 16px;
    background-color: #054a91ff;
    color: white;
  }
  h1, p#description{
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  form {
    width: 80%;
    max-width: 400px;
    background-color: #3e7cb1ff;
    margin: 0 auto;
    min-width: 20%;
    font-size: 1.125rem;
    border-radius: 7px;
    overflow: hidden;
  }
  fieldset {
    padding: 1rem;
    border: none;
  }
  input, select, textarea {
    background-color: #81a4cdff;
    border-radius: 5px;
    /* width: 100%; */
  }  
  /* label {
    display: block;
  } */
  textarea, .main-bio input{
    width:100%;
    border: none;
  }
  .main-bio input {
    height: 1.8rem;
    margin-bottom: 10px;
    /* margin-left: 0;
    margin-right: 0; */
  }  
  .feature {
    display: block;
  }
  /* input[type="radio"] {
    display: block;
  }
  .inline {
    width: unset;
    margin: 0 0 0.5em 0;
    vertical-align: middle;
  }
  .opinion label {
    display: block;
    width: 100%
  } */
  p {
    margin-top: -5px;
    font-size: 16px;
  }  
  select {
    height: 1.8rem;
  }
  #suggest {
    display: block;
    /* width: 100%; */
    margin-top: -10px;
    margin-bottom: 5px;
  }
  #submit {
    display: block;
    width: 60%;
    margin: 5% auto;
    border: none;
    color: #dbe4eeff;
    font-size: 1.3rem;
    background-color: turquoise;
  }  